body{margin:0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fdfdfd;
color: #4b2e05;
}
/*navbr*/
.navbr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e2723;
    padding: 15px 40px;
}
.logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 25px;
    list-style: none;
}

.links a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;

}
/*section accueil*/
.hero{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 32%;
}

.image {
    background-image: url('images/imagebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: 0.5;
}
.gallery{
    text-align: center;
    margin-top: 10px;
   
}
.images{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.images img{
    width: 300px;
    height: 200px;
}
.menu-table{
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0,0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse;
}
@keyframes typing{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
.titre-menu{
    white-space: nowrap;
    text-align: center;
    font-family:  monospace;
    font-size: 30px;
    overflow: hidden;
    border-right: 3px solid #3e2723;
    width: 0;
    animation: typing 2s steps(30,end) forwards,blink 0.7s step-end infinite;


}
.menu-table th,.menu-table td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.menu-table img{
    width: 100px;
    height:100px; 
    border-radius: 10px;
    transition: transform 0.5s ease,box-shadaw 0.5s ease;

}
.menu-table img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 15px rgba(168,142, 131 0.1);}
   .menu-table tr{
    transition: background-color 0.5s ease ;
   }
    .menu-table tr:hover{
        background-color: #5f3d1c;
    }
    .footer{
        text-align: center;
    }
    form{
        
        width: 90px;
        margin: 42px;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0,0, 0 0.1);
        border-radius: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    form label{
        font-weight: bold;
    }
    form input ,form textarea,form select{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-family: 'Times New Roman', Times, serif;
 font-size: 161px;
    } 
form button{
    background-color: #4b2e05;
    color: #ddd;
}
/*css mobile*/
@media (max-width:600px){
    body{
        margin: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
